/*
 * Style header */
header#masthead {
  .btn-book {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    a {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.6em;
      font-size: inherit;
      padding: 0 !important;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 0;
      border-top-width: 10px;
      border-top-style: solid;
    }

    &.style-1 {
      width: 80px;
      height: 100px;
      a {
        margin-top: 5px;
        color: #fff !important;
      }

      &:after {
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
      }
    }
    &.style-2 {
      width: 64px;
      height: 54px;
      background: #fff;
      a {
        padding-top: 5px;
        line-height: 1.4em;
      }
      &:after {
        border-top-color: #fff;
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
      }
    }
  }
  @include transition(all 0.5s ease-in-out);

  .mobile-logo {
    display: none;
  }

  .navigation {
    transition: all ease-in-out .5s;
  }

  &.affix {
    @include box-shadow(1px 0 3px 2px rgba(0, 0, 0, 0.1));
  }

  .retina-logo {
    display: none;
  }
  &.has-retina-logo {
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (   min--moz-device-pixel-ratio: 2),
    (   -o-min-device-pixel-ratio: 2/1),
    (        min-device-pixel-ratio: 2),
    (           min-resolution: 192dpi),
    (            min-resolution: 2dppx) {
      .no-sticky-logo {
        width: 180px;
        max-width: 180px;
        display: inline-block !important;
      }
      .logo,
      .mobile-logo,
      .sticky-logo img {
        display: none !important;
      }
      .retina-logo {
        display: inline-block !important;
      }
    }

  }
  &.header_v1 {
    body.woocommerce-cart & {
      .menu-right .widget_search {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  body.responsive {
    header#masthead.header_v2 .navigation {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    header#masthead.retina-logo .no-sticky-logo {
      width: 200px;
      max-width: 200px;
    }

    header.sticky-header.affix .sm-logo {
      .sticky-logo {
        display: none !important;
      }
      .no-sticky-logo {
        display: inline-block !important;
      }
    }
    &.mobile-menu-open {
      .navigation,
      .navigation-top {
        .menu-mobile-effect {
          display: none;
        }
      }
      .mobile-menu-container {
        .mega-menu > li {
          >a,
          >span {
            padding: 5px 0;
          }
        }
        .menu-mobile-effect {
          position: absolute;
          top: 11px;
          right: 32px !important;
          .icon-bar {
            @include rotate(-45deg);
            top: 13px;
            &:nth-child(2) {
              @include opacity(0);
            }
            &:nth-child(3) {
              @include rotate(45deg);
              top: 13px;
            }
          }
        }
        .navbar-nav .sub-menu {
          position: relative;
          &:before {
            content:    '';
            width:      1px;
            height:     100%;
            position:   absolute;
            left:       2px;
            top:        1px;
            display:    block;
          }
          li {
            position: relative;
            &:before {
              content:    '';
              width:      7px;
              height:     1px;
              position:   absolute;
              left:       3px;
              top:        10px;
              padding:    0;
              display:    block;
              background: #fff;

            }
            a {
              padding-left: 25px !important;
            }
          }
          .sub-menu {
            margin-left: 20px;
          }
        }
      }
    }
    &.creative-left {
      &.mobile-menu-open {
        .menu-mobile-effect.navbar-toggle {
          right: auto !important;
          left: 15px !important;
        }
      }
      .menu-mobile-effect.navbar-toggle {
        left: 15px !important;
      }
      .mobile-menu-container {
        @include translateX(-270px);
        left: 0;
      }
    }

    &.creative-right {
      .menu-mobile-effect.navbar-toggle {
        right: 0;
      }
      .mobile-menu-container {
        right: 0;
        @include translate(100%, 0px);
      }
    }

    &:not(.mobile-menu-open) .menu-mobile-effect.navbar-toggle {
      top: 50%;
      @include translate(-50%, -15px);
      @include transition(all 1s);
    }
    &.mobile-menu-open {
      &.content-pusher {
        &:after {
          @include opacity(1);
        }

        .mobile-menu-container ul.sub-menu li a {
          font-size: 13px;
        }
      }

      .mobile-effect.mobile-menu-container {
        visibility: visible;
        box-shadow: 0 1px 5px -2px rgba(42, 42, 42, .4);
        @include translate(0, 0);
      }
    }

    #primary-menu {
      display: none;
    }
    .content-pusher {
      position: relative;
      overflow: hidden;

    }
    .mobile-menu-container {
      position: fixed;
      visibility: hidden;
      top: 0;
      bottom: 0;
      z-index: 999999;
      width: 270px;
      height: 100%;
      overflow: auto;
      @include transition(all 0.5s);
      span.icon-toggle {
        cursor: pointer;
      }
      > .nav {
        margin-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }

      ul {
        float: none;
        &.navbar-nav {
          margin: 35px 0 0;
        }
        &.mega-menu {
          margin: 0;
          padding: 0 5px;
          >li {
            margin: 0;
            >a,
            >span:not(.icon-toggle) {
              padding: 10px 15px !important;
              line-height: 20px;
            }
          }
          li .icon-toggle {
            top: 2px !important;
          }
        }

        &.sub-menu {
          background-image: none !important;
          margin-top: 0;
          margin-bottom: 0;
          overflow: hidden;
          display: none;
          li {
            ul {
              display: block;
            }
          }
        }
        li {
          float: none;
          list-style: none;
          position: relative;
          &.current-menu-parent {
            ul.sub-menu {
              display: block;
            }
          }

          &.disable_link {
            margin-left: 20px;
          }
          .icon-toggle {
            position: absolute;
            right: 15px;
            width: 32px;
            height: 32px;
            top: 6px;
            &:before,
            &:after {
              display: none;
            }
            .fa {
              vertical-align: middle;
            }
          }

          a {
            display: block;
            outline: none;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
            &:hover,
            :focus {
              background: transparent;
            }
          }
        }
      }
    }
    .admin-bar {
      .affix {
        top: 0;
      }
    }
    .content-pusher {
      right: 0;
      position: relative;
      @include transition(all 0.5s);
      height: 100%;
    }
    .menu-mobile-effect {
      &.navbar-toggle {
        cursor: pointer;
        float: right;
        display: inline-block;
        z-index: 1;
        vertical-align: middle;
        width: 30px;
        height: 28px;
        padding: 0;
        position: absolute;
        margin: 0;
        top: 20px;
        span.icon-bar {
          width: 20px;
          @include rounded(0);
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          top: 6px;
          &:nth-child(2) {
            top: 13px;
          }
          &:nth-child(3) {
            top: 20px;
          }
          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .mobile-menu-container {
    display: none;
  }
  .admin-bar {
    .site-header.affix {
      top: 32px !important;
    }
  }
}

.width-logo {
  width: 200px;
}

.header_v3 .width-logo {
  width: 50%;
}
header#masthead .menu-right .btn-book {
  cursor: pointer;
}